@model FilmManager.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMovie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMovie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorIDDirector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorIDDirector)
        </dd>

        @foreach (var uploadedFile in Model.MovieUploadedFiles)
        {
            <dt>
                @uploadedFile.Name
            </dt>

            <dd style="margin-top: 10px">
                <img src="~/File?=@uploadedFile.IDUploadedFile" alt="Picture" width="300" height="200" />
            </dd>
        }
        <dt>
            Actors
        </dt>
        @foreach (var actor in Model.Actors)
        {
            <dd>
                @actor.FirstName @actor.LastName
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
